.footer{
    background-color: #25292c;
    display: flex;
    align-content: flex-start;
    padding-left: 10px;
    color: #e8e8e8;
    align-items: center;
    flex-direction: row;
    height: 50px;
}