.search{
    input{
        border-radius: 3px;
        height: 40px;
        line-height: 40px;
        width: 200px;
        border: 1px solid;
        padding-left: 10px;
        margin: 10px 10px 10px 0;
    }
}